body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;

}


.list {
    list-style: none;
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-span {
    color: #2e2f42;
    margin-right: 76px;
}

.logo-span :last-child {
    margin-right: 0;
}

.list-item-link {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.list .list-item-link:hover,
.list .list-item-link:focus {
    color: #404bbf;
}

.address-list {
    font-style: normal;
    margin-left: auto;
}

.address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
}

.address-list-link :last-child {
    margin-right: 0;
}

.list .address-list-link:hover,
.list .address-list-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.section-one-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px 472px 292px 472px;

}

.button {
    background-color: #4D5AE5;

    display: inline-flex;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border: 4px;
    border-radius: 4px;
    gap: 10px;

}


.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three {
    background-color: #F4F4FD;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;

}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team-list {
    background-color: #FFFFFF;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    width: 264px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-four-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}


.portfolio-list {
    display: flex;

    width: 360px;
    gap: 32px;
    flex-wrap: wrap;

}

.portfolio-item {
    list-style: none;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    flex-direction: column;

}

.portfolio-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}

.logo-span-footer {
    color: #f4f4fd;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.list-advantages-item {
    width: 264px;
    justify-content: center;
}

.list-team {
    display: flex;
    gap: 24px;
}

.team-pic {
    padding-bottom: 32px;
}